@font-face {
    font-family: 'latoregular';
    src: url('../css/Fonts/lato_regular/lato-regular-webfont.woff2') format('woff2'),
         url('../css/Fonts/lato_regular/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../css/Fonts/lato_bold/lato-bold-webfont.woff2') format('woff2'),
         url('../css/Fonts/lato_bold/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

%flex-liste{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

$fontlatoregular: 'latoregular', serif;
$fontlatobold: 'latobold', serif;
$radius: 5px;

*:focus {
    outline: none;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    font-family: $fontlatoregular;
    font-size: 18px;
    list-style: none;
}

.container{
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

header{
    margin-top: 42px;
    margin-bottom: 17px;
    display: flex;
    justify-content: center;
    & img{
        height: 100px;
    }
}

.search_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E7E7E7;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    margin-bottom: 25px;
    border-radius: $radius;
    & input{
        border: none;
        background-color: #E7E7E7;
        font-size: 18px;
        width: 90%;
    }
    & i{
        font-size: 32px;
    }
}

.filters{
    display: flex;
    gap: 1rem;
}

.liste{
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    & input {
        border-radius: $radius;
        border: none;
        padding: 27px 20px;
        width: 130px;
        transition: width 0.4s ease-in-out;
        &:focus{
            width: 620px;
        }
    }
    & label {
        color: white;
        position: absolute;
        padding: 1.2rem;
        pointer-events: none;
    }
    & i {
        color: white;
        position: absolute;
        padding: 1.45rem 0.9rem;
        left: 125px;
        pointer-events: none;
    }
}

.ingredients{
    background-color: #3282F7;
}

.appareils{
    background-color: #68D9A4;
}

.ustensiles{
    background-color: #ED6454;
}

.recipes_section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    & article {
        display: flex;
        flex-direction: column;
        width: 31%;
        height: 364px;
        margin-bottom: 20px;
        margin-right: 2%;
        & img{
            width: 100%;
            height: 178px;
            background-color: #C7BEBE;
        }
    }
}

.info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #E7E7E7;
    height: 186px;
    & h2{
        width: 65%;
    }
    & span {
        width: 22%;
    }
    & ul{
        display: flex;
        flex-direction: column;
        width: 45%;
        padding-left: 10px;
    }
    & p{
        font-size: 12px;
        width: 45%;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        padding-right: 10px;
    }

    & li{
        font-size: 11px;
    }
}

.listContainer{
    display: none;
    width: 100%;
    height: 200px;
    &_1{
        display: flex;
        background-color:#3282F7;
    }
    &_2{
        display: flex;
        background-color:#68D9A4;
    }
    &_3{
        display: flex;
        background-color:#ED6454;
    }

}